/* login css start */

.set-login-hr{
    height: 2px;
    border-width: 0;
    background-color: rgb(206, 0, 0);
    color: rgb(206, 0, 0);
    margin-left: 32%;
    width: 10%;
}

.create-btn{
    margin-top: 40%;
}
.login-btn{
    margin-top: 18%;
}
/* login css end */